## 编译输出目录
bin/
obj/

## 发布包目录
Publish/
*.zip
*.7z
*.rar

## IDE 配置
.vs/
.idea/
*.user
*.suo
*.sln.docstates
*.csproj.user

## VS Code
.vscode/
*.code-workspace

## Rider
/.idea/
*.sln.iml

## 默认忽略
/shelf/
/workspace.xml

## 系统文件
Thumbs.db
.DS_Store
Desktop.ini

## 日志
*.log
UpgradeLog.htm
*.tmp